
/* 1150px 이하에서 카드 형식으로 전환 */
@media (max-width: 1150px) {
    
    /* 카드 제목과 마감상태를 같은 줄에 배치하고 간격을 설정 */
    .card-body .d-flex {
        justify-content: space-between; /* 좌우 정렬 */
        align-items: center; /* 세로 가운데 정렬 */
    }

    .card-title {
        font-weight: bold;
    }

    .card-text.text-right {
        margin-bottom: 0; /* 텍스트 아래 여백 제거 */
        text-align: right; /* 텍스트 오른쪽 정렬 */
    }

    /* 상태별 색상 설정 */
    .status-complete {
        color: blue; /* 완료 상태는 파란색 */
    }

    .status-in-progress {
        color: red; /* 진행중 상태는 빨간색 */
    }
    
    .search-controls {
        display: flex;
        flex-direction: column; /* 세로로 나열 */
        align-items: flex-end; /* 오른쪽 정렬 */
    }

    .search-controls > div {
        width: 100%; /* 각 그룹을 전체 너비 사용 */
        display: flex;
        justify-content: flex-end; /* 오른쪽 정렬 */
    }

    .form-control,
    input[type="month"] {
        width: 150px; /* 입력 필드 너비 줄이기 */
        font-size: 0.8rem; /* 폰트 크기 줄이기 */
        padding: 0.25rem 0.5rem; /* 패딩 줄이기 */
    }

    #nameSearch {
        width: 150px; /* 입력 필드 너비 줄이기 */
        font-size: 0.8rem; /* 폰트 크기 줄이기 */
        padding: 0.25rem 0.5rem; /* 패딩 줄이기 */
        margin-bottom: 7px;
    }

    #searchButton {
        font-size: 0.8rem; /* 버튼 텍스트 크기 줄이기 */
        padding: 0.25rem 0.5rem; /* 버튼 패딩 줄이기 */
    }

    .table {
        display: none; /* 테이블 숨기기 */
    }

    .card {
        display: block;
        width: 100%;
    }
}

/* 1151px 이상에서 한 줄로 전환 */
@media (min-width: 1151px) {
    .mr-2 {
        margin: 0 0 0 0;
    }
    
    .search-controls {
        display: flex;
        flex-direction: row; /* 가로로 나열 */
        align-items: center; /* 수직 가운데 정렬 */
        justify-content: flex-end; /* 오른쪽 정렬 */
    }

    .search-controls > div {
        margin-right: 1rem; /* 각 그룹 사이 간격 */
        margin-bottom: 0; /* 하단 여백 제거 */
    }

    #nameSearch {
        font-size: 1rem;
    }
    
    .form-control,
    input[type="month"],
    #searchButton {
        font-size: 1rem; /* 기본 폰트 크기 */
        padding: 0.375rem 0.75rem; /* 기본 패딩 */
        width: auto; /* 너비 자동 */
    }

    .card {
        display: none; /* 카드 숨기기 */
    }

    .table {
        display: table; /* 테이블 표시 */
    }
}